<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.message %></td>
         <td class="text-center">
            <%= link_to "Show", question_path(question), class: 'label label-info'%>
            <%= link_to "Edit", edit_question_path(question), class: 'label label-success'%>
            <%= link_to "Delete", @question, method: :destroy, class: 'label label-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New question", new_question_path %>
