<h1>Team - <%= @team.name %></h1>

<div class="col-sm-8">
  <div class="card" >
    <div class="card-header">
      Users
    </div>

<div class="card-body">

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>

  <tbody>
    <% @team.user_teams_ordered_by_name.each do |user_team| %>
      <tr>
        <td><%= user_team.user.name %></td>
        <td><%= user_team.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

<%= link_to sanitize("&larr; Back to teams"), teams_path %> |
<%= link_to 'Edit', edit_team_path(@team) %>
