<div class="col-sm-4">

<%= form_with(model: @standup, local: true) do |f| %>
  <%= errors_for(@standup) %>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :team %>
    <%= f.select :team_id, options_from_collection_for_select(@teams, :id, :name), {}, class: "form-control" %>
  </div>
<p></p>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<p></p>
</div>