<div class="col-sm-4">

<%= form_with(model: @user_standup, local: true) do |f| %>
  <%= errors_for(@user_standup) %>

  <div class="<%= "d-none" if @user_standup.team %>">
    <%= f.label :team %>
    <%= f.select :team_id, options_from_collection_for_select(@teams, :id, :name, @user_standup&.team&.id), {}, class: "form-control" %>
  </div>
  <div class="<%= "d-none" if @user_standup.user %>">
    <%= f.label :user %>
    <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name, @user_standup&.user&.id), {}, class: "form-control" %>
  </div>
  <div class="<%= "d-none" if @user_standup.standup %>">
    <%= f.label :standup %>
    <%= f.select :standup_id, options_from_collection_for_select(@standups, :id, :date, @user_standup&.standup&.id), {}, class: "form-control" %>
  </div>
  <%= f.fields_for :posts do |post_form| %>
    <div>
      <%= post_form.object.question %>
      <%= post_form.markdown_field :content %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

</div>