
<% @user_standups.each do |user_standup| %>
  <h3><%= user_standup.user.name %> - <%= user_standup.standup.date %> </h3>
  <%= render user_standup %>
  <p>
    <%= link_to "Show this entry", user_standup %>
  </p>
<% end %>

<%= render 'shared/pagination' %>
<br>
<%= link_to 'New User Standup', new_user_standup_path %>
