<%= form_with(model: @user_team, local: true) do |form| %>
  <%= errors_for(@user_team) %>

   <div class="<%= "d-none" if @only_team %>">
    <%= form.label :user %>
    <%= form.select :user_id, options_from_collection_for_select(@users, :id, :name, @user_team&.user&.id), {}, class: "form-control" %>
  </div>

  <div class="<%= "d-none" if @only_user %>">
    <%= form.label :team %>
    <%= form.select :team_id, options_from_collection_for_select(@teams, :id, :name, @user_team&.team&.id), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary", data: {turbo_track: "reload"} %>
  </div>
<% end %>
