<!DOCTYPE html>
<html>
  <head>
    <title>Howdy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <label class="navbar-brand" href="">Howdy</label>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <label class="nav-link">Standup</label>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= is_active(:posts) %>" href="/teams">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= is_active(:teams) %>" href="/teams">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= is_active(:users) %>" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= is_active(:questions) %>" href="/questions">Questions</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if current_user %>
            <li class="nav-item">
              <label class="navbar-brand" href=""><%= current_user.name %> - <%= current_user.team&.name %></label>
            </li>
            <% end %>
            <% if current_admin %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/connections">Connections</a>
              </div>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users">Users</a>
              </div>
            </li>
            <% end %>
            <% if current_user %>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Signup</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
   <main class="container-fluid px-4 py-4" role="main">
      <%= yield %>
    </main>
  </body>
</html>
